:root {
  --bg-color: #d8d2c3;
  --main-color: #513a2a;
  --caret-color: #513a2a;
  --sub-color: #8b6f5c;
  --sub-alt-color: #cdc0af;
  --text-color: #393b3b;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
  
  --roundness: 0.5rem;
}

* {
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

input, textarea {
	background: var(--sub-alt-color);
	border: none;
	border-radius: var(--roundness);
	caret-color: var(--main-color);
	color: var(--text-color);
	font-size: 1rem;
	outline: none;
	padding: .5rem;
}

button {
  color: var(--text-color);
  cursor: pointer;
  transition: background 0.125s, color 0.125s;
  padding: 0.5rem;
  border-radius: var(--roundness);
  background: var(--sub-alt-color);
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  align-content: center;
  height: min-content;
  height: -moz-min-content;
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

button:hover {
  color: var(--bg-color);
  background: var(--text-color);
  outline: none;
}

button:focus {
  outline: 2px solid var(--text-color);
}

button:active {
  background: var(--sub-color);
  color: var(--bg-color);
}